/*Mauricio Rivera
// IT 202 - 002
// 2/17/2024
// Phase 1
// msr26@njit.edu
 */

    /* Intro section */
main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 22rem;
    width: 100%;
    color: #fff;
    text-align: center;
}

main h1 {
    font-size: 2.8rem;
    padding: 0 1.5rem;
    z-index: 10;
    font-weight: 600;
}

main .main__separator {
    margin-top: 1rem;
    position: relative;
    height: 2px;
    width: 2rem;
    background-color: antiquewhite;
    z-index: 10;
    border-radius: 0.5rem;
}

main p {
    margin-top: 1rem;
    font-size: 1rem;
    padding: 0 1.5rem;
    max-width: 40rem;
    z-index: 10;
    font-weight: 300;
}

.main__background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.main__background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__background span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
}

/* Info section */
.info-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
    background-color: var(--accent-light);
    color: #000;
    z-index: 100000;
    gap: 4rem;
}

.info {
    max-width: 80rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
    column-gap: 4rem;
}

.info__text h2 {
    font-size: 2.8rem;
    font-weight: 600;
}

.info__text p {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.2;
}

.info__image {
    position: relative;
    max-height: 20rem;
    border-radius: 0.8rem;
    overflow: hidden;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.info__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Media queries */
@media not all and (max-width: 768px) {
    main {
        min-height: 32rem;
    }

    main h1 {
        font-size: 4rem;
    }

    main .main__separator {
        width: 4rem;
    }

    main p {
        font-size: 1.2rem;
    }

    .info:nth-child(2n) {
        flex-direction: row-reverse;
    }

    .info__text h2 {
        font-size: 2.8rem;
    }

    .info__text p {
        font-size: 1.2rem;
    }

    .info {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .info__image {
        max-width: 45%;
    }
}

@media not all and (max-width: 1280px) {
    main {
        min-height: 40rem;
    }

    main h1 {
        font-size: 5rem;
    }

    main .main__separator {
        width: 6rem;
    }

    main p {
        font-size: 1.4rem;
    }

    .info__text h2 {
        font-size: 2.8rem;
    }

    .info__text p {
        font-size: 1.2rem;
    }
}